<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VTility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <VTility.Properties.Settings>
      <setting name="opt_force" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="opt_shutdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="opt_reboot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="opt_energy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pos_x" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pos_y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="time_left" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="opt_autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WOpts_Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WOpts_Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WOpts_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WOpts_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WOpts_Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WOpts_Hidden" serializeAs="String">
        <value>False</value>
      </setting>
    </VTility.Properties.Settings>
  </userSettings>
</configuration>